<h2>User Details</h2>

<% if current_user.id != @user.id  %>
<div class="card card-header results-block">
  <table class="col-md-12">
    <tbody>
    <tr>
      <td><strong>Username: </strong> <%= @user.username %></td>
      <td><strong>Email: </strong> <%= @user.email %></td>
      <td>
        <% if current_user.not_friends_with?(@user.id) %>
          <%= link_to 'Follow friend?', friendships_path(friend: @user), class: "btn btn-sm btn-success", method: :post %>
        <% else %>
          <span class="badge badge-secondary">You are friends</span>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<% end %>

<h4 align="center">
  <%= @user.username %>'s articles
</h4>
<div class="center">
  <%= will_paginate @user_articles %>
</div>
<%= render 'articles/article', obj: @user.articles %>
<div class="center">
  <%= will_paginate @user_articles %>
</div>